#num3 {
    background-color: gray;
    width: 300px;
  }
  #num4 {
    background-color: gray;
    width: 300px;
  }
  #num5 {
    background-color: gray;
    width: 300px;
  }
  #num6 {
    background-color: gray;
    width: 300px;
    height: 300px;
  }
  #disableBack {
    margin-top: 140px;
    margin-left: 50px;
  }
  #num8 {
    width: 500px;
    height: 410px;
  }
  #firstBlocks {
    margin: 10px;
  }
  #secondBlocks {
    margin-left: 120px;
    margin-top: -220px;
  }
  .square {
    width: 100px;
    height: 100px;
    background-color: red;
    margin-top: 10px;
  }
  #num9 {
    width: 200px;
    height: 150px;
  }
  .inputer {
    margin: 4px;
  }
  #buttons {
    margin: 20px;
  }
  #output {
    margin-top: 0px;
  }